<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>DONuTsHOP</title>
  </head>
  <link rel="stylesheet" href="/style.css">
  <body>
    <div class="container">
      <header>

      </header>
      <div class="info">
        DONUTS
      </div>
      <% for(var i = 0; i < shops.length; i++) { %>
      <div class="storeID">
        <%= shops[i].name %>
        <div class="city"><%= shops[i].city %></div>
      </div>
      <div class="bottom">
          <form action="/shops/edit/<%= shops[i].id %>" method="post">
          <input type="text" name="name" placeholder="<%= shops[i].name %>">
          <input type="text" name="city" placeholder="<%= shops[i].city %>">
          <button>Update</button>
          </form>
          <br>
          <br>
        <a href="/donuts">
        <button>Donuts</button></a>
        <a href="/employees">
        <button>Employees</button></a>
        <br>
        <a href="/shops">
        <button>Back to Shops</button>
        </a>
      <%}%>
      </div>
    <footer></footer>
    </div>
  </body>
</html>
